<!-- <div class="row">
    <div class="col-sm-4" ng-click="createProduct()">
        <button class="btn btn-success">Create Product</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-success">List Product</button>
    </div>
    <div class="col-sm-4">
        Delete The produccts
    </div>
</div> -->
<div class="row">
    <div class="ml-auto p-4">
        <button ng-click="createProduct()" class="btn btn-success ">Add Items</button>
    </div>
</div>
<table class="table table-striped table-bordered _table_size">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </thead>
    <tbody>
        <tr ng-repeat="product in product_detail">
            <td>{{product.Name}}</td>
            <td>{{product.Description}}</td>
            <td>{{product.Cost}}</td>
            <td><button class="btn btn-danger">Edit</button></td>
            <td><button ng-click="deleteProduct(product.Id,product.rev)" class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-primary">View</button></td>
        </tr>
    </tbody>
</table>